body{
    background:#f4f7fb;
}

/* HEADING */

h1{
    text-align:center;
    color:#0077ff;
    margin-top:40px;
    font-size:40px;
}

/* FORM CARD */

form{
    width:450px;
    margin:50px auto;
    padding:35px;

    background:white;
    border-radius:20px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;
}

form:hover{
    transform:translateY(-5px);
    box-shadow:0 15px 30px rgba(0,0,0,.15);
}

/* LABEL */

label{
    display:block;
    text-align:left;

    margin-bottom:10px;

    color:#333;
    font-size:16px;
    font-weight:600;
}

/* INPUT */

input{
    width:100%;
    padding:12px;

    border:1px solid #ddd;
    border-radius:10px;

    font-size:16px;

    box-sizing:border-box;

    margin-bottom:20px;
}

input:focus{
    outline:none;
    border-color:#0077ff;
    box-shadow:0 0 8px rgba(0,119,255,.2);
}

/* BUTTON */

button{
    width:100%;

    padding:12px;

    border:none;
    border-radius:25px;

    background:linear-gradient(135deg,#0077ff,#00bfff);

    color:white;

    font-size:16px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

button:hover{
    transform:translateY(-2px);
    box-shadow:0 5px 15px rgba(0,119,255,.3);
}

/* ERROR MESSAGE */

.error-msg{
    text-align:center;
    color:#e91e63;
    font-weight:bold;
    margin-bottom:15px;
}