body{
    background: #f4f7fb;
}

/* HEADING */

.profile-title{
    color: #0077ff;
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
}

/* PROFILE CARD */

.profile-card{
    width: 500px;
    margin: 40px auto;
    background: white;
    padding: 35px;
    border-radius: 20px;

    box-shadow: 0 8px 20px rgba(0,0,0,.08);

    text-align: center;
    transition: .3s;
}

.profile-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,.15);
}

/* USER ICON */

.profile-icon{
    text-align: center;
    font-size: 80px;
    margin-bottom: 25px;
}

/* DETAILS */

.profile-info{
    font-size: 18px;
    line-height: 2;
}

.profile-info strong{
    color: #0077ff;
}

/* BUTTONS */

.profile-btns{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.profile-btns a{
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    transition: .3s;
}

/* UPDATE */

.update-btn{
    background: linear-gradient(135deg,#0077ff,#00bfff);
}

.update-btn:hover{
    transform: translateY(-2px);
}

/* RESET */

.reset-btn{
    background: #e91e63;
}

.reset-btn:hover{
    background: #c2185b;
}