<nav>
    <div class="nav-logo">
        <a href="">ShopSphere</a>
    </div>
    <div class="nav-link">
        {% if search_bar %}
        <form action="">
            <input type="text" name="search" id="search" placeholder="Search Here....">
        </form>
        <form action="">
            <input type="submit" value="trading" name="trading">
        </form>
        <form action="">
            <input type="submit" value="offer" name="offer">
        </form>

        {% endif %}
        {% if request.user.is_authenticated %}
        <a href="{% url 'home' %}">HOME</a>
        <a href="{% url 'cart' %}">CART ({{cartproductCount}})</a>
        <a href="{% url 'profile' %}">PROFILE</a>
        <a href="{% url 'logout_' %}">LOGOUT</a>
        <a href="">SUPPORT</a>
        <a href="">KNOWUS</a>
        {% else %}
        <a href="{% url 'home' %}">HOME</a>
        <a href="{% url 'login_' %}">LOGIN</a>
        <a href="">SUPPORT</a>
        <a href="">KNOWUS</a>
        {% endif %}
    </div>
</nav>